[Unit]
Description=Security cams rtsp proxy
After=syslog.target network.target

[Service]
User=smarthome
Group=smarthome
WorkingDirectory=/etc/smarthome/cams
ExecStart=/etc/smarthome/cams/cam_proxy.pl %i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
